<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>축제상세보기</title>
</head>
<body>
<th:block layout:fragment="content">

    <form action="/admin/board/read" method="post" th:object="${boardDTO}" enctype="multipart/form-data">

        <div class="col-12">
            <div class="mb-3 mt-4">
                <input type="text" min="0" class="form-control-plaintext h3" th:field="*{title}"  id="title">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    <div class="col">
                        <img th:src="${boardDTO.boardImgDTOList.get(0).imgUrl}" class="card-img-top" th:if="${not #lists.isEmpty(boardDTO.boardImgDTOList)}" th:alt="${boardDTO.getBoardImgDTOList().get(0).getImgName}">
                    </div>
                    <div class="col">

                        <div class="col-6">

                                    <input type="date" min="0" class="form-control-plaintext h4" th:value="*{startschedule}" id="startschedule" readonly>
                                    <span class="mx-2 h4">~</span>
                                    <input type="date" min="0" class="form-control-plaintext h4"  th:value="*{endschedule}" readonly>

                        </div>


                        <div class="col">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label for="location" class="col-form-label">축제장소 : </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" min="0" class="col-auto form-control-plaintext" th:field="*{location}" id="location">
                                </div>
                                <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label for="pay"  class="col-form-label">입장료 : </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" min="0" class="col-auto form-control-plaintext" th:field="*{pay}" id="pay">
                                </div>
                                <p th:if="${#fields.hasErrors('pay')}" th:errors="*{pay}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label for="parking"  class="col-form-label">주차정보 : </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" min="0" class="col-auto form-control-plaintext" th:field="*{parking}" id="parking">
                                </div>
                                <p th:if="${#fields.hasErrors('parking')}" th:errors="*{parking}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label for="tel"  class="col-form-label">문의처 : </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" min="0" class="col-auto form-control-plaintext" th:field="*{tel}" id="tel">
                                </div>
                                <p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="content" class="form-label">축제내용</label>
                                <textarea class="form-control" th:field="*{content}" id="content" rows="4"></textarea>
                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="row">


                    <div class="col-12">
                        <div class="mb-3">
                            <label for="detail"  class="form-label">추가정보</label>
                            <input type="text" min="0" class="form-control" th:field="*{detail}" id="detail">
                            <p th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="tagtitle"  class="form-label">카테고리</label>
                            <input type="text" min="0" class="form-control" th:field="*{tagtitle}" id="tagtitle">
                            <p th:if="${#fields.hasErrors('tel')}" th:errors="*{tagtitle}" class="fieldError"></p>
                        </div>
                    </div>



                    <div class="col-12">
                        <div class="mb-3 imgA">

                            추가이미지
                            <div class="row row-cols-md-2">

                                <th:block th:each="img: ${boardDTO.boardImgDTOList}">
                                    <th:block th:unless="${img.repimgYn == 'Y'}">
                                        <div class="col">
                                            <img width="100%" th:src="${img.imgUrl}">
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>

                        </div>
                    </div>

                    <div class="col-12">
                        <button type="button" class="btn btn-dark updatebtn">수정</button>
                        <a href="/admin/board/list" class="btn btn-dark" newproduct>목록</a>
                    </div>
                </div>

            </div>
        </div>
    </form>


</th:block>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        let boardBno = [[${boardDTO.bno}]]

        $(document).ready(function (){
            $(".updatebtn").on("click", function (){
                location.href = "/admin/board/update?id=" + boardBno
            })
        })



    </script>

</th:block>

</body>
</html>