<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>

<th:block layout:fragment="content">

  <div class="row mt-5">
    <div class="col-8 offset-2">
      <h1>회원가입</h1>

      <form class="row g-3" action="/member/adminregister" method="post" th:object="${memberDTO}">

        <div class="col-md-6">
          <label for="memberID" class="form-label">ID</label>
          <input type="text" th:field="*{memberID}" class="form-control" id="memberID" placeholder="ID를 입력해주세요" required>
          <button type="button" class="id_overlap_button" id="checkbtn">중복확인</button>
          <p th:if="${#fields.hasErrors('memberID')}" th:errors="*{memberID}" class="fieldError"></p>
        </div>

        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" required>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">이름</label>
          <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="당신의 이름은?">
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
          <span class="name"></span>
        </div>


        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="이메일을 입력해주세요" required>
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
        </div>



        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary formbtn">Sign in</button>
          <button type="submit" class="btn btn-primary">로그인</button>
        </div>
      </form>

    </div>

  </div>
  <script th:inline="javascript">
    let sameCheck = false;

    $('#checkbtn').on("click", function (){

      let data = {memberID: $('#ID').val()}

    })
    let msg = [[${msg}]]
    if(msg){
      alert(msg)
    }

    $("form").on("submit", function (e){


      if(blankMemberID() == true){
        alert("ID를 입력해주세요.")
        return;
      }
      if(blankPassword() == true){
        alert("비밀번호를 입력해주세요.")
        return;
      }
      if(blankName() == true){
        alert("이름을 입력해주세요.")
        return;
      }
      if(blankEmail() == true){
        alert("이메일을 입력해주세요.")
        return;
      }

      if(sameCheck() == false){
        alert("ID를 중복체크 해주세요")
        return;


    }})


  </script>
</th:block>

<th:block layout:fragment="script">



</th:block>

</body>
</html>